<launch>
    <param name="use_sim_time" value="true" />
    <arg name="play_bagfile" default="" />
    <arg name="save_bagfile" default="" />
    <arg name="record"  default="false" />
    <arg name="rviz"   default="true" />

    <!-- rosbag play -->
    <node name="player" pkg="rosbag" type="play" output="screen" args="--clock --rate=1.0 $(arg play_bagfile)" />

    <node name="pointcloud_transformer_node" pkg="lidar_transform" type="lidar_transform_node" output="screen" />

    <!-- tf -->
    <group ns="airbot">
        <param name="robot_description" textfile="$(find icra2024_sim2real_axs)/urdf/AIRBOT_V3_v2-3.urdf"/>
        <node name="publish_robot_state" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50"/>
        </node>
    </group>

    <!-- record rosbag -->
    <node if="$(arg record)" name="rosbag_record" pkg="rosbag" type="record" args="--lz4 --repeat-latched -a -O $(arg save_bagfile)" output="screen" />

    <!-- rviz -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_transform)/rviz/pcl2.rviz" required="true"/>
</launch>
