<launch>
    <arg name="input_topic" default="/livox/lidar" />
    <arg name="output_topic" default="/livox/lidar_inv" />
    <arg name="input_frame" default="livox_frame" />
    <arg name="output_frame" default="livox_frame_inv" >

    <node name="pointcloud_transformer_node" pkg="lidar_transform" type="lidar_transform_node" output="screen">
        <param name="input_topic" value="$(arg input_topic)" />
        <param name="output_topic" value="$(arg output_topic)" />
        <param name="input_frame" value="$(arg input_frame)" />
        <param name="output_frame" value="$(arg output_frame)" />
    </node>
</launch>
